@model List<KnifeStore.Models.Knife>

@{
	Layout = "_Layout";
}

@foreach (var item in Model)
{
	<h2>Model: @item.Model</h2>

	<p>Style: @item.Style</p>

	<p><a asp-controller="Admin" asp-action="GetKnife" asp-route-id="@item.ID">View Details</a></p>
	<p><a asp-controller="Admin" asp-action="UpdateKnife" asp-route-id="@item.ID">Update Product</a></p>
	<p><a asp-controller="Admin" asp-action="DeleteKnife" asp-route-id="@item.ID">Delete Product</a></p>


}
