@using KnifeStore.Models
@model KnifeStore.Models.Knife

@{
	Layout = "_Layout";
}

<h2>Current Knife</h2>

<h2>Model: @Model.Model</h2>
<p>Image URL: @Model.Image</p>
<p>Description: @Model.Description</p>
<p>Style: @Model.Style</p>
<p>Price: @Model.Price</p>

<h2>Update With:</h2>

<form method="post" asp-action="UpdateKnife">

	<label asp-for="Model">Model</label>
	<input asp-for="Model" />

	<label asp-for="Description">Description</label>
	<input asp-for="Description" />

	<label asp-for="Price">Price</label>
	<input asp-for="Price" />

	<input type="submit" value="UpdateKnife" />
</form>

<p><a asp-controller="Admin" asp-action="GetKnives">Back to List</a></p>
<p><a asp-controller="Admin" asp-action="Index">Return Home</a></p>