@model List<KnifeStore.Models.Knife>

@{
	Layout = "_Layout";
}

@foreach (var item in Model)
{
	<h2>Model: @item.Model</h2>

    <img src="@item.Image"/>

	<p>Style: @item.Style</p>

    @if (item.Style.ToString() == "Tactical")
    {
        <p style="background-color: red; color: white">Only available to Law Enforcement or Military personnel</p>
    }

	<p><a asp-controller="UserShop" asp-action="ViewDetails" asp-route-id="@item.ID">View Details</a></p>
    <p><a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.ID">Add To Cart</a></p>
}
